<div class="col-lrg">
  <div class="recipe-details">
    <img src="" alt="" />
  </div>
  <div class="detail-text">
    <h3>Recipe Name</h3>
    <p>Recipe description here...</p>
  </div>
  <div class="detail-manage">
    <ul>
      <li>
        <a href="#">Add Ingredients to list</a>
      </li>
      <li>
        <a href="#">Edit Recipe</a>
      </li>
      <li>
        <a href="#">Delete Recipe</a>
      </li>
    </ul>
  </div>
  <div class="ingredients">
    Imgredients here...
  </div>
</div>
