@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
/* reset css. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

/* here we add our css variables. */
:root {
  --main-bg-color: brown;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

div.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
