.col-three {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

button.new-recipe {
  padding: 10px 15px;
  background: #ff5a5f;
  border: solid 1px #ff5a5f;
  color: #fff;
  border-radius: 0.25rem;
  margin: 0 0 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .col-three {
    flex-wrap: wrap;
  }
}
